html, body {
  font-family: Arial;
  text-align: center;
  background-color: #444444;
  margin:0px;
  min-height: 100%;
  color: white;
}
table {
  margin: auto;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 13px;
}
td {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
  margin-right: 10px;
  /*width: 100px;*/
}
.dr_cps {
  font-size: 23px;
}
.date {
  width: 150px;
  font-size: 12px;
}
.num {
  color: #ffa100;
  width: 75px;
  /*font-size: 11px;*/
}

.no_padding {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

p {
  font-size: 11px;
  margin: 0;
}

canvas {
  height: 150px;
  width: 100%;
  position: relative;
  background-color: #666666;
  border-radius: 5px;
  padding: 3px;
}

.canvas_div {
  padding: 20px;
}
